{% extends "users/base.html" %} {% block title %}Change Password{% endblock %} {% block content %}
<div class="container py-3 mx-10">
  <h1 class="text-2xl m-10 font-bold">Change Password</h1>
  <div class="error-container text-red-500 px-10">{% if form.errors %} {% for field in form %} {{ field.errors}} {% endfor %} {% endif %}</div>

  <form method="post" enctype="multipart/form-data" class="bg-white shadow-md m-10 w-2/5 rounded pt-6 pb-8 mb-4">
    {% csrf_token %}
    <div class="mb-2">
      <label for="" class="block text-gray-700 font-bold mb-2">Old password</label>
      <div class="shadow appearance-none border rounded text-gray-700 py-2 px-3 mr-10">{{form.old_password}}</div>
    </div>
    <div class="mb-2">
      <label for="" class="block text-gray-700 font-bold mb-2">New password</label>
      <div class="shadow appearance-none border rounded text-gray-700 py-2 px-3 mr-10">{{form.new_password1}}</div>
    </div>
    <div class="mb-2">
      <label for="" class="block text-gray-700 font-bold mb-2">New password confirm</label>
      <div class="shadow appearance-none border rounded text-gray-700 py-2 px-3 mr-10">{{form.new_password2}}</div>
    </div>

    <button type="submit" class="text-white bg-green-500 px-5 rounded shadow py-2 mt-5">Save</button>
  </form>
</div>
{% endblock %}
